/* Card Images */
.card-image-hdpe-pipe {
  background-image: url("../img/product/hdpe-pipe.jpg");
}
.card-image-mdpe {
  background-image: url("../img/product/mdpe-pipe.jpg");
}
.card-image-equip {
  background-image: url("../img/product/BeadTrimmer_8-24inch.png");
}
.card-image-fusion {
  background-image: url("../img/product/rentals.jpg");
}
.card-image-training {
  background-image: url("../img/training/Medium Diameter Training-2.jpg");
}
.card-image-service {
  background-image: url("../img/product/tech.jpg");
}
.card-image-small-diameter {
  background-image: url("../img/training/small diameter training-3.jpg");
}
.card-image-medium-diameter {
  background-image: url("../img/training/Medium Diameter Training-10.jpg");
}
.card-image-large-diameter {
  background-image: url("../img/training/large-diameter.jpg");
}
.card-image-fusion-inspection {
  background-image: url("../img/training/Medium Diameter Training-5.jpg");
}
.card-image-agri-pump {
  background-image: url("../img/product/agriculture/agri-pump.jpg");
}
.card-image-agri-pipe {
  background-image: url("../img/product/agriculture/agri-piping.jpg");
}
.card-image-agri-drain {
  background-image: url("../img/product/agriculture/drain-pipe.jpg");
}







